<form onsubmit={{action 'createTodo'}}>
    <div>
        <label for="dateMade">dateMade</label>
        {{input type="text" data-test="dateMade" id="dateMade" value=dateMade}}
    </div>
    <div>
        <label for="dueDate">dueDate</label>
        {{input type="text" data-test="dueDate" id="dueDate" value=dueDate}}
    </div>
    <div>
        <label for="subject">Subject</label>
        {{input type="text" data-test="subject" id="subject" value=subject}}
    </div>
    <div>
        <label for="message">Message</label>
        {{textarea rows="8" data-test="message" id="message" cols="80" value=message}}
    </div>
    <button data-test="send" id="send" type="submit">Send</button>
</form>