<table style="width:100%">
    <tr>
        <th>From</th>
        <th>Message</th>
    </tr>
    {{!-- Displaying all starred emails --}}
    <h1>STARRED</h1>
    {{#each model as |email|}} {{#if email.starred}}
    <tr>
        <td>
            {{#link-to "email" email.id}} {{email.from}} {{/link-to}}
        </td>
        <td class="preview">
            <StarButton @starred={{email.starred}} @onClick={{action "toggleStarred" email}} />
            <EmailTemplate @starred={{email.starred}} @email={{email}} />
        </td>
    </tr>
    {{/if}} {{/each}} {{!-- // Displaying all emails --}}
    <h1>ALL OTHER EMAILS</h1>

    {{#each model as |email|}}
    <tr>
        <td>
            {{#link-to "email" email.id}} {{email.from}} {{/link-to}}
        </td>
        <td class="preview">
            {{#if email.starred}}
            <div class="row" data-test="email.starred">
                <StarButton @starred={{email.starred}} @onClick={{action "toggleStarred" email}} />
                <EmailTemplate @starred={{true}} @email={{email}} /> {{!-- {{#link-to "email" email.id}} {{truncate-text email.message 60}} {{/link-to}} --}}
            </div>
            {{else}}
            <div class="row" data-test="email.unstarred">
                <StarButton @starred={{email.starred}} @onClick={{action "toggleStarred" email}} />
                <EmailTemplate @starred={{true}} @email={{email}} /> {{!-- {{#link-to "email" email.id}} {{truncate-text email.message 60}} {{/link-to}} --}}
            </div>
            {{/if}}

        </td>
    </tr>
    {{/each}}

</table>

{{outlet}}