<table style="width:50%">
    <tr>
        <th>From</th>
        <th>Message</th>
    </tr>
    {{!-- Displaying all starred todos --}}
    <h1>Items on Todo List</h1>
    {{#each model as |todo|}} {{#if todo.starred}}


    {{else}}
    <tr>
        <td>
            {{#link-to "todo" todo.id}} {{todo.from}} {{/link-to}}
        </td>
        <td class="preview">
            <StarButton @starred={{todo.starred}} @onClick={{action "toggleStarred" todo}} />
            <TodoTemplate @starred={{todo.starred}} @todo={{todo}} />
        </td>
    </tr>
    {{/if}}
    {{/each}} {{!-- // Displaying all todos --}}


</table>

{{outlet}}