<table style="width:100%">
    <tr>
        <th>From</th>
        <th>Message</th>
    </tr>
    {{!-- Displaying all starred todos --}}
    <h1>STARRED</h1>
    {{#each model as |todo|}} {{#if todo.starred}}
    <tr>
        <td>
            {{#link-to "todo" todo.id}} {{todo.from}} {{/link-to}}
        </td>
        <td class="preview">
            <StarButton @starred={{todo.starred}} @onClick={{action "toggleStarred" todo}} />
            <TodoTemplate @starred={{todo.starred}} @todo={{todo}} />
        </td>
    </tr>
    {{/if}} {{/each}} {{!-- // Displaying all todos --}}
    <h1>ALL OTHER todoS</h1>

    {{#each model as |todo|}}
    <tr>
        <td>
            {{#link-to "todo" todo.id}} {{todo.from}} {{/link-to}}
        </td>
        <td class="preview">
            {{#if todo.starred}}
            <div class="row" data-test="todo.starred">
                <StarButton @starred={{todo.starred}} @onClick={{action "toggleStarred" todo}} />
                <TodoTemplate @starred={{true}} @todo={{todo}} /> {{!-- {{#link-to "todo" todo.id}} {{truncate-text todo.message 60}} {{/link-to}} --}}
            </div>
            {{else}}
            <div class="row" data-test="todo.unstarred">
                <StarButton @starred={{todo.starred}} @onClick={{action "toggleStarred" todo}} />
                <TodoTemplate @starred={{true}} @todo={{todo}} /> {{!-- {{#link-to "todo" todo.id}} {{truncate-text todo.message 60}} {{/link-to}} --}}
            </div>
            {{/if}}

        </td>
    </tr>
    {{/each}}

</table>

{{outlet}}