<table style="width:50%" id="todosTable">
    <h1>Items on Todo List</h1>
    <tr>
        <th>Complete</th>
        <th>Title</th>
        <th>Due Date</th>
    </tr>
    {{!-- Displaying all starred todos --}}

    {{#each model as |todo|}} {{#if todo.starred}}


    {{else}}
    <tr>
        <td>
            <StarButton @starred={{todo.starred}} @onClick={{action "toggleStarred" todo}} />

        </td>
        <td>
            {{#link-to "todo" todo.id}} {{todo.subject}} {{/link-to}}
        </td>
        <td>
            {{todo.dueDate}}
        </td>
    </tr>
    {{/if}}
    {{/each}}


</table>

{{outlet}}