<button data-test="delete-button" type="button" onclick={{action 'deleteTodo' model}}>
    Delete
</button>
<h1 data-test="dateMade">{{model.dateMade}}</h1>
<p data-test="dueDate">{{model.dueDate}}</p>
<p data-test="subject">{{model.subject}}</p>
<p data-test="message">{{model.message}}</p>





{{outlet}}