<table style="width:50%">
    <h1>Completed Todos</h1>
    {{#each model as |todo|}}
    <tr>
        <td class="preview">
            {{#if todo.starred}}
            <div class="row" data-test="todo.starred">
                <StarButton @starred={{todo.starred}} @onClick={{action "toggleStarred" todo}} />
                <TodoTemplate @starred={{true}} @todo={{todo}} /> {{!-- {{#link-to "todo" todo.id}} {{truncate-text
                todo.message 60}} {{/link-to}} --}}
            </div>

            {{/if}}

        </td>
    </tr>
    {{/each}}

</table>

{{outlet}}